$break-small:640px;

$layout-width:940px;
$layout-width-small-screen:620px;
$main-section-width:620px;
$sidebar-section-width:300px;

$gray:#d7d8d9;
$black: #000;



$carousel-background: #f7f9fa;

$imagesDir:'../../images/';
$default-text: #333;
$default-link: #3d76cc;
$video-border-color: #333;

$latest-news-source-color: #bfbfc0;
$latest-news-link-hover-color :#719bda;
$latest-news-header-color:#3d76cc;
$latest-news-strip-color:#c80000;


$video-list-header-color:#6a0099;